@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";



  
   /* .light, .light-theme, .radix-themes {
    --color-background: #E93D82;
  
  } */
 .dark, .dark-theme, :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
    --color-background: #010314;
  }
/* .dark, .dark-theme */

.radix-themes {
  --default-font-family: var(--font-poppins)
}